.calculator {
  width: 21rem;
  border: 1px solid #000;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25rem;
  background-color: gray;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #000;

  p {
    overflow: hidden;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .button {
    padding: 1rem;
    background-color: #f3f3f3;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1.25rem;

    &:hover {
      background-color: #acacac;
    }
  }

  .zero {
    grid-column: 1/3;
  }

  .orange-bg {
    background-color: #eb944d;

    &:hover {
      background-color: #cf7328;
    }
  }
}
