.calculator {
  width: 21rem;
  border: 1px solid #9e9e9e;
}

.result {
  background-color: gray;
  text-align: end;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  border: 1px solid #9e9e9e;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .button {
    padding: 1rem;
    background-color: #f3f3f3;
    border: 1px solid #9e9e9e;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .zero {
    grid-column: 1/3;
  }

  .orange-bg {
    background-color: #eb944d;
  }
}
