.calculator-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  width: 100%;

  h2 {
    font-size: 2.5rem;
  }
}

.calculator {
  width: 21rem;
  border: 1px solid #000;
  box-shadow: 0 0 15px 0 #000;

  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.25rem;
    background-color: #fff;
    padding: 1rem;
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #464646;

    p {
      overflow: hidden;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #000;

    .button {
      padding: 1rem;
      background-color: #000;
      border: 1px solid #464646;
      color: #fff;
      cursor: pointer;
      font-size: 1.25rem;

      &:hover {
        background-color: #464646;
      }
    }

    .zero {
      grid-column: 1/3;
    }

    .orange-bg {
      background-color: #a372ff;
      border: 1px solid #8d50ff;

      &:hover {
        background-color: #8d50ff;
      }
    }
  }
}
