body {
    justify-content: flex-start;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    width: 100%;

    .home-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 50%;
    }

    h2 {
        font-size: 2.5rem;
    }

    .home-img {
        width: 20rem;
        height: 20rem;
    }
}